.image {
  object-fit: cover;
  object-position: center;
  height: 100vh;
  vertical-align: middle;
  @media (max-width: 768px) {
    transition: height 999999s;
  }
}
.main {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 768px) {
    justify-content: center;
    transition: height 999999s;
  }
}
.name {
  text-align: center;
  margin-top: 5vh;
  font-size: 1rem;
  @media (max-width: 768px) {
    transition: margin-top 999999s;
  }
}
.text_maski {
  text-align: center;
  font-family: 'PT Sans';
  font-weight: bold;
  font-size: 4.5rem;
}
.text_other {
  text-align: center;
  font-family: 'PT Sans';
  font-weight: bold;
  font-size: 2.5rem;
}
.number {
  margin-bottom: 5vh;
  text-align: center;
  font-family: 'PT Sans';
  font-weight: bold;
  font-size: 1rem;
}
.button {
  width: 60vw;
  height: 20vh;
  @media (max-width: 768px) {
    transition: height 999999s;
  }
}
.buttonwr {
  display: block;
  margin-top: 4vh;
  @media (max-width: 768px) {
    transition: margin-top 999999s;
  }
}
